.product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.customSelect .select__control {
  min-height: 55px;
}

.MuiFormHelperText-root.Mui-error {
  color: #f44336;
}

.customSelect {
  z-index: 99999;
}
